body {
  margin: 2%;
}
#body-contact {
    background-color: mediumturquoise;
}
#body-work {
    background-color: lightcyan;
}
#body-projects {
    background-color: springgreen;
}
#body-main {
    background-color: lightblue;
}
#dancing-img {
    width: 35%;
    margin-bottom: 25%;
}
#boating-img {
    width: 30%;
}
#waterfall-img {
    width: 30%;
    margin-bottom: 5%;
    
}

.navbar-nav {
    float:right;
}


.contactinfo {
    text-align: center;
}
#links {
    text-align: center;
    color: black;
}
#button {
    position: relative;
    margin-left: 35%;
    bottom: 50%;
    background-color: blue;
    color: white;
}

#button-text {
    position: relative;
    margin-left: 35%;
    bottom: 50%;
}
#facts {
    margin-left: 35%;
}

#name {
    font-size: 200%;
    color: white;
    right: 70%;
}


